<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_links.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <!-- making a non-numbered list for the navigationbar -->
        <ul class="navigator">
            <!-- making list items -->
            <li><a href="/index_login.html" class="non">Inloggen</a></li>
            <li><a href="/index_sign-up.html" class="non">Aanmelden</a></li>
        </ul>
    </nav>
    
    {% block body %}{% endblock %}
</body>
</html>